*{
    padding: 0;
    margin: 0;
}
.calculator{
    display: flex;
    /* align-items: center; */
    margin-top: 8%;
    justify-content: space-around;
}
.calculator-border{
    border: none;
    height: auto;
    
    padding: 15px;
    
}
.white{
    background-color: rgb(247, 242, 242);
    box-shadow: 1px 1px 5px 3px rgb(151, 135, 135);

}
.black{
    background-color: black;
    /* float: right; */
}
.calculator-content{
    margin: 15px;
}
.calculator-screen input{
    border: none;
    width: 100%;
    height: 15vh;
    font-size: 25px;
    position: relative;
}
.calculator-btn{
    margin-top: 3vh;
}
.first-line-btn-white, .second-line-btn-white, .third-line-btn-white, .fourth-line-btn-white, .fifth-line-btn-white{
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto ;
}
.first-line-btn-white button, .second-line-btn-white button, .third-line-btn-white button, .fourth-line-btn-white button, .fifth-line-btn-white button{
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 22%;
    border-radius: 8px;
    height: 6vh;
    box-shadow: 1px 1px 3px 3px rgb(151, 135, 135);
}
.input[type='number']:focus {
    outline: none; /* Remove the default focus outline */
    border: none #ccc; /* Add a border to the input */
    /* You can customize the border color and style as needed */
  }
